
pandas

# requirements.txt
torch==2.0.1
torchvision==0.15.2
streamlit==1.45.0
# Other dependencies...

google-generativeai
selenium
numpy

matplotlib
requests
bs4
sentence-transformers==1.2.1
transformers==4.36.2
python-dotenv
fastapi
uvicorn
